.shape {
    clip-path: polygon(0 5%, 5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 5%);
}

.filter {
    filter: drop-shadow(0 0 .5rem plum);
}

.question_mark {
    font-size: 600%;
}

.question_mark_opacity {
    opacity: .15;
    top: 40%;
}
