::root {
    --color: @apply bg-fuchsia-500;
}
.question_mark {
    font-size: 600%;
}

.question_mark_opacity {
    opacity: .15;
    top: 40%;
}

/* .item_bg {
    background-image: linear-gradient(0deg, plum 1%, rgb(221, 160, 221, .1) 25%);
} */

.item_bg {
    background-color: rgba(225, 190, 221, .9);
}

.item {
    opacity: 100;
}
